/*setting body background color*/
body{
    background-color: #f1e7d3;
}


  

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .col {
    width: 100%;
    font-size: 13px;
  }}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .col {
        width: 100%;
        font-size: 12px;
      }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .col {
        width: 100%;
        font-size: 10px;
      }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .col {
        width: 100%;
        font-size: 21px;
      }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .col {
        width: 100%;
        font-size: 23px;
      }
}  